<div class="listagem-container">
  <div class="listagem-header">
    <input type="text" placeholder="Buscar quarto..." class="campo-busca" />
    <div class="botoes-header">
      <button class="btn-mais">+</button>
      <button class="btn-editar">Editar</button>
    </div>
  </div>

  <div class="recentes-section">
    <h2>Quartos Recentes</h2>
    <div class="card-list">
      <mat-card class="card quarto">
        <mat-card-content>
          <div class="card-content">
            <mat-icon class="card-icon">hotel</mat-icon>
            <div class="card-info">
              <h3>Quarto 201</h3>
              <p><mat-icon>local_hospital</mat-icon> <strong>Ala:</strong> Norte</p>
              <p><mat-icon>group</mat-icon> <strong>Ocupação:</strong> 2/3</p>
              <p><mat-icon>check_circle</mat-icon> <strong>Status:</strong> Normal</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card quarto">
        <mat-card-content>
          <div class="card-content">
            <mat-icon class="card-icon">hotel</mat-icon>
            <div class="card-info">
              <h3>Quarto 202</h3>
              <p><mat-icon>local_hospital</mat-icon> <strong>Ala:</strong> Sul</p>
              <p><mat-icon>group</mat-icon> <strong>Ocupação:</strong> 1/3</p>
              <p><mat-icon>check_circle</mat-icon> <strong>Status:</strong> Normal</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="todos-section">
    <h2>Todos os Quartos</h2>
    <div class="card-list">
      <mat-card class="card quarto">
        <mat-card-content>
          <div class="card-content">
            <mat-icon class="card-icon">hotel</mat-icon>
            <div class="card-info">
              <h3>Quarto 203</h3>
              <p><mat-icon>local_hospital</mat-icon> <strong>Ala:</strong> Norte</p>
              <p><mat-icon>group</mat-icon> <strong>Ocupação:</strong> 3/3</p>
              <p><mat-icon>check_circle</mat-icon> <strong>Status:</strong> Normal</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card quarto">
        <mat-card-content>
          <div class="card-content">
            <mat-icon class="card-icon">hotel</mat-icon>
            <div class="card-info">
              <h3>Quarto 204</h3>
              <p><mat-icon>local_hospital</mat-icon> <strong>Ala:</strong> Leste</p>
              <p><mat-icon>group</mat-icon> <strong>Ocupação:</strong> 0/2</p>
              <p><mat-icon>check_circle</mat-icon> <strong>Status:</strong> Livre</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
